<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>804</key>
	<array>
		<string>南湖路江南村</string>
		<string>恒安路新千家街</string>
		<string>恒安路富安街</string>
		<string>建安街丁字桥南路</string>
		<string>文治街丁字桥南路</string>
		<string>文治街金地格林小城</string>
		<string>文治街书城路口</string>
		<string>书城路北港春苑</string>
		<string>书城路出版城</string>
		<string>雄楚大道brt书城路站</string>
		<string>雄楚大道brt珞狮路站</string>
		<string>雄楚大道brt元宝山站</string>
		<string>卓刀泉南路陈家湾</string>
		<string>卓刀泉南路虎泉</string>
		<string>珞喻路广埠屯</string>
		<string>珞喻路地铁街道口站</string>
		<string>武珞路街道口</string>
		<string>武珞路地铁宝通寺站</string>
		<string>武珞路丁字桥</string>
		<string>武珞路傅家坡客运站</string>
		<string>武珞路大东门</string>
		<string>民主路宜家装饰广场</string>
		<string>民主路武警医院</string>
		<string>民主路胭脂路</string>
		<string>民主路司门口</string>
		<string>解放路司门口</string>
		<string>中山路解放路</string>
		<string>和平大道沙湖苑</string>
		<string>和平大道地铁积玉桥站</string>
		<string>和平大道武汉工人文化宫</string>
		<string>和平大道三层楼</string>
		<string>和平大道三角路</string>
		<string>和平大道武车路</string>
		<string>和平大道惠誉花园</string>
		<string>和平大道徐家棚</string>
		<string>和平大道四美塘</string>
		<string>和平大道杨园</string>
		<string>铁机路余家头</string>
	</array>
	<key>811</key>
	<array>
		<string>园林路瑞丰路</string>
		<string>园林路钢都花园</string>
		<string>友谊大道柴林花园</string>
		<string>友谊大道华城广场</string>
		<string>友谊大道铁机路</string>
		<string>友谊大道才茂街</string>
		<string>友谊大道才华街</string>
		<string>友谊大道团结村路</string>
		<string>友谊大道秦园居</string>
		<string>友谊大道湖北大学</string>
		<string>友谊大道航海学院</string>
		<string>友谊大道余家湖</string>
		<string>友谊大道沙湖</string>
		<string>中山路螃蟹岬</string>
		<string>中山路小东门</string>
		<string>武珞路大东门</string>
		<string>武珞路傅家坡客运站</string>
		<string>武珞路丁字桥</string>
		<string>武珞路地铁宝通寺站</string>
		<string>石牌岭路亚贸</string>
		<string>石牌岭路竹苑小区</string>
		<string>石牌岭路石建村</string>
		<string>石牌岭路吴家村</string>
		<string>雄楚大道brt石牌岭路站</string>
		<string>雄楚大道brt书城路站</string>
		<string>雄楚大道brt珞狮路</string>
		<string>雄楚大道brt元宝山</string>
		<string>雄楚大道brt卓刀泉南路站</string>
		<string>雄楚大道brt省荣军医院</string>
		<string>雄楚大道brt楚平路</string>
		<string>民族大道时间广场</string>
		<string>民族大道中南民族大学</string>
		<string>民族大道纺织大学</string>
		<string>民族大道东山头</string>
		<string>民族大道山北杨</string>
		<string>龙城路民族大道口</string>
		<string>龙城路冯徐村</string>
		<string>南湖社区</string>
		<string>天际路名湖豪庭</string>
		<string>庙山中路</string>
	</array>
</dict>
</plist>
