<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>轨道交通1号线</key>
	<array>
		<string>东吴大道</string>
		<string>五环大道</string>
		<string>额头湾</string>
		<string>竹叶海</string>
		<string>舵落口</string>
		<string>古田一路</string>
		<string>古田二路</string>
		<string>古田三路</string>
		<string>古田四路</string>
		<string>汉西一路</string>
		<string>宗关</string>
		<string>太平洋</string>
		<string>桥口路</string>
		<string>崇仁路</string>
		<string>利济北路</string>
		<string>友谊路</string>
		<string>循礼门</string>
		<string>大智路</string>
		<string>三阳路</string>
		<string>黄浦路</string>
		<string>头道街</string>
		<string>二七路</string>
		<string>徐州新村</string>
		<string>丹水池</string>
		<string>新荣</string>
		<string>堤角</string>
		<string>滕子岗</string>
		<string>滠口新城</string>
		<string>汉口北</string>
	</array>
	<key>轨道交通2号线</key>
	<array>
		<string>天河机场</string>
		<string>航空总部</string>
		<string>宋家岗</string>
		<string>巨龙大道</string>
		<string>盘龙城</string>
		<string>宏图大道</string>
		<string>常青城</string>
		<string>金银潭</string>
		<string>常青花园</string>
		<string>长港路</string>
		<string>汉口火车站</string>
		<string>范湖</string>
		<string>王家墩东</string>
		<string>青年路</string>
		<string>中山公园</string>
		<string>循礼门</string>
		<string>江汉路</string>
		<string>积玉桥</string>
		<string>螃蟹岬</string>
		<string>小龟山</string>
		<string>洪山广场</string>
		<string>中南路</string>
		<string>宝通寺</string>
		<string>街道口</string>
		<string>广埠屯</string>
		<string>虎泉</string>
		<string>杨家湾</string>
		<string>光谷广场</string>
	</array>
	<key>轨道交通3号线</key>
	<array>
		<string>宏图大道</string>
		<string>市民之家</string>
		<string>后湖大道</string>
		<string>兴业路</string>
		<string>二七小路</string>
		<string>罗家庄</string>
		<string>赵家条</string>
		<string>惠济二路</string>
		<string>香港路</string>
		<string>菱角湖</string>
		<string>范湖</string>
		<string>云飞路</string>
		<string>武汉商务区</string>
		<string>双墩</string>
		<string>宗关</string>
		<string>王家湾</string>
		<string>龙阳村</string>
		<string>陶家岭</string>
		<string>四新大道</string>
		<string>汉阳客运站</string>
		<string>三角湖</string>
		<string>体育中心</string>
		<string>东风公司</string>
		<string>沌阳大道</string>
	</array>
	<key>轨道交通4号线</key>
	<array>
		<string>武汉火车站</string>
		<string>杨春湖</string>
		<string>工业四路</string>
		<string>仁和路</string>
		<string>园林路</string>
		<string>罗家港</string>
		<string>铁机路</string>
		<string>岳家嘴</string>
		<string>东亭</string>
		<string>青鱼嘴</string>
		<string>楚河汉街</string>
		<string>洪山广场</string>
		<string>中南路</string>
		<string>梅苑小区</string>
		<string>武昌火车站</string>
		<string>首义路</string>
		<string>复兴路</string>
		<string>拦江路</string>
		<string>钟家村</string>
		<string>汉阳火车站</string>
		<string>五里墩</string>
		<string>十里铺</string>
		<string>王家湾</string>
		<string>玉龙路</string>
		<string>永安堂</string>
		<string>孟家铺</string>
		<string>黄金口</string>
	</array>
</dict>
</plist>
